@font-face {
	font-family: 'Agency FB Cyrillic';
	src: url('../styles/AgencyFBCyrillic/AgencyFBCyrillic.eot');
	src: local('Agency FB Cyrillic'), local('AgencyFBCyrillic'),
		url('../styles/AgencyFBCyrillic/AgencyFBCyrillic.eot?#iefix') format('embedded-opentype'),
		url('../styles/AgencyFBCyrillic/AgencyFBCyrillic.woff') format('woff'),
		url('../styles/AgencyFBCyrillic/AgencyFBCyrillic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
    background-color: #e3e3e3;
    opacity: 1;
    font-family: Agency FB Cyrillic;
}

a:link {
    color: lightblue;
}

a:hover {
    color: rgb(0, 255, 85);
}

a:active {
    color: black;
}

a:visited {
    color: lightblue
}

.sitename {
    font-size: xxx-large;
    background-color: rgb(0, 0, 0, 0.5);
    color: rgb(255, 251, 0);
    font-family: Agency FB Cyrillic;
    padding: 20px;
    position: sticky;
    top: 20px;
}

.textblock{
    background-color: rgb(0, 0, 0, 0.5);
    padding: 15px;
    color: white;
}

.topic {
    font-size: xxx-large;
    background-color: rgb(0, 0, 0, 0.5);
    color: rgb(255, 251, 0);
    font-family: 'Agency FB Cyrillic';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 20px;
}

p {
    font-size: medium;
    margin: 0;
}

.topic a {
    color: rgb(255, 174, 0) !important;
    font-size: small;
}

a::after {
    content: "<";
}


a::before {
    content: ">";
}

.gohome {
    background-color: black;
    color: red;
    float: left;
}

.generalnavigation {
    background-color: rgb(0, 0, 0, 0.5);
    margin: 10px;
    padding: 10px;
    font-size: xx-large;
}

.textblock > b {
    color: #bfbfa9;
}

.desc {
    margin: 10px;
    padding: 10px;
    font-size: x-small;
}

table {
    font-size: small;
}

.thtop {
    font-size: x-large;
}

.tdtextbg {
    background-color: rgb(216, 213, 213);
}

.th {
    background-color: rgb(141, 141, 141);
    text-align: right;
}

.start-call {
    font-size: large;
    font-style: italic;
}

li:first-child {
    border: 1px solid orange;
}

#zoom {
    transition: transform 0.1s
}
  